.footer-inform {
  padding: 70px 0;
  background-color: white;
}

.footer-inform__section {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  max-width: 90%;
  margin: 0 auto;
}

.footer-inform__item {
  width: 30%;
}

.footer-inform__titles {
  font-weight: bold;
}

.footer-inform__text {
  padding-top: 15px;
  p {
    padding-bottom: 15px;
    font-size: 0.8rem;
  }
}

.post__item {
  padding: 15px 0;
  &:not(:last-child) {
    border-bottom: $colorGrey solid 1px;
  }
  .post__item-source {
    display: flex;

    &:hover {
      .post__name,
      .post__icon-svg {
        color: $colorGold;
        text-decoration: underline;
      }
    }
  }
}

.post__name {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}

.post__data {
  padding-top: 2px;
  font-size: 0.7rem;
  color: $colorGrey;
}

.post__icon {
  margin: auto 0;
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: $colorGrey solid 1px;
  .post__icon-svg {
    width: 40px;
    height: 40px;
    margin: auto;
    color: $colorGrey;
  }
}

.categories__item {
  cursor: pointer;

  border-bottom: $colorGrey solid 1px;
  &-caption {
    padding: 15px 0;
    position: relative;
    background-color: white;
    z-index: 10;
    display: flex;
  }
  &-icons {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $colorGrey;
    &::after {
      content: '';
      position: absolute;
      height: 14px;
      border: white solid 2px;
      top: 8px;
      left: 13px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 14px;
      border: white solid 2px;
      top: 13px;
      left: 8px;
    }
  }
  &-name {
    font-size: 1.2rem;
    color: $colorGrey;
    margin: auto, 0;
  }
  &:hover {
    .categories__item-icons {
      background-color: $colorDark;
    }
    .categories__item-name {
      color: $colorDark;
    }
  }
}
.categories__item.open {
  .categories__inner {
    overflow: hidden;
    height: max-content;
    padding-left: 20px;
    li {
      list-style-type: disc;
      &:hover {
        color: $colorGold;
      }
      a {
        color: $colorDark;
        &:hover {
          color: $colorGold;
        }
      }
    }
  }
  .categories__item-name {
    color: $colorGold;
    font-weight: bold;
  }
  .categories__item-icons {
    background-color: $colorGold;
    &::after {
      display: none;
    }
    &::before {
    }
  }
}

@keyframes open-inner {
  0% {
    color: rgba(#000000, 0);
  }
  55% {
    color: rgba(#000000, 0);
  }

  100% {
    color: rgba(#000000, 1);
  }
}

.categories__inner {
  overflow: hidden;
  height: 0;
  margin: auto 0;

  p {
    padding: 0 0 5px 10px;
  }
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
  background-color: $colorDark;

  &__main-menu {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
  }

  &__menu-item:not(:first-child)::before {
    content: '/';
    position: absolute;
    top: 40px;
  }

  &__menu-link {
    display: block;
    padding: 20px;
    font-size: 1rem;
    color: #999;
    &:hover {
      color: white;
    }
  }
}
.footer__social-menu {
  padding: 35px;
}

.footer__icon {
  color: white;
  &:hover {
    color: $colorGold;
  }
}

.this-page {
  color: $colorGrey !important;
  &:hover {
    color: $colorGrey !important;
  }
}

.this-page__post {
  .post__name,
  .post__icon-svg {
    color: $colorGrey !important;
  }
  &:hover {
    .post__name,
    .post__icon-svg {
      color: $colorGrey !important;
      text-decoration: none !important;
    }
  }
}

@media screen and (max-width: 1050px) {
  .footer-inform__item:last-child {
    display: none;
  }
  .footer-inform__item {
    width: 47%;
  }
}

@media screen and (max-width: 750px) {
  .footer-navigation__main-menu {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .footer-inform__item:last-child {
    display: block;
  }
  .footer-inform__section {
    flex-direction: column;
  }
  .footer-inform__item {
    width: 90%;
    padding-bottom: 15px;
  }
  .footer__social-menu {
    margin: 0 auto;
  }
}
